@import "tailwindcss";

html,
body {
  font-family: "Plus Jakarta Sans", system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}

/* Leaflet popup custom styling */
.leaflet-popup-content-wrapper {
  background-color: rgb(15 23 42) !important;
  /* slate-900 */
  color: white !important;
  border-radius: 0.5rem !important;
  padding: 0 !important;
}

.leaflet-popup-tip {
  background-color: rgb(15 23 42) !important;
  /* slate-900 */
}

.leaflet-popup-close-button {
  color: rgb(148 163 184) !important;
  /* slate-400 */
  top: 18px !important;
  right: 8px !important;
}

.leaflet-popup-close-button:hover {
  color: white !important;
}